* {
	box-sizing: border-box;
}

.photo{
	float: right;
	max-width: 100%;	
	padding: 4px;
	vertical-align: middle;
}

.photo:hover {
	border-radius: 4%;
}

.paragraph {
	display: block;
	margin-left: 15%;
}

p {
	padding: 8px;
	text-indent: 15px;
	text-align: justify;
}