* {
	box-sizing: border-box;
}

.photo {
	display: block;
	padding-left: 20%;
	float: left;
	width: 33.33333333%;
	height: 33.33333333%;
}

.photo > img:first-child {
	visibility: hidden;
}

.box {
	display: block;
	border: 1px solid #dddddd;
	padding: 2px;
	float: left;
	width: 33.33333333%;
	max-height: 300px;
}

.paragraph {
	display: block;
	max-height: 300px;
	padding-bottom: 5px;
}

p {	
	display: block;
	font-size: 19px;
	font-style: italic;
	text-indent: 15px;
	padding: 8px;
	padding-left: 12px;
	text-align: justify;
}

h4 {
	position: absolute;
	bottom: -1250px;
	left: 625px;
}