.photo {
	display: block;
	border: 1px solid #dddddd;
	padding: 2px;
	float: left;
	width: 33.33333333%;
	height: 33.33333333%;
}

.photo:hover {
	border-radius: 20px
}

.photo > img:first-child {
	visibility: hidden;
}

.box {
	display: block;
	border: 1px solid #dddddd;
	padding: 2px;
	float: left;
	width: 33.33333333%;
	max-height: 300px;
}

.paragraph {
	display: block;
	float: right;
	border: 2px solid #dddddd;
	width: 80%;
	max-height: 300px;
}

p {
	font-size: 19px;
	font-style: italic;
	text-indent: 15px;
	padding: 8px;
	text-align: justify;
}

h4 {
	position: absolute;
	bottom: -1250px;
	left: 625px;
}