* {
	box-sizing: border-box;
}

body {
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}

.wrap {
	max-width: 1000px;
	margin: auto;
}

#banner {
	position: relative;
	border: 1px solid green;
	max-width: 100%;
}


h3 {
	text-transform: uppercase;
	font-style: italic;
	font-size: 30px;
	color: green;
	text-align: right;
}

a:link {
	color: blue;
}

a:visited {
	color: black;
}

a:hover {
	color: green;
}

.menu {
	border: 2px solid green;
	background-color: #98FB98;
	position: absolute;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	margin-left: 15px;
	margin-top: 40px;
	padding: 25px;
	
}

.menu a {
	display: block;
	padding-top: 20px;
}

.menu > a:first-child {
	position: absolute;
	float: left;
	padding-left: 10px;
	top: -240px;
	left: 30px;
}

.menu > a:first-child > img {
	border: 3px solid white;
	max-width: 140px;
	border-radius: 50%;
}

#footer {
	font-size: 17px;
	text-align: center;
	font-style: italic;
}

#back-to-top {
	position: fixed;
	max-height: 70px;
	max-width: 70px;
	text-align: right;
	padding-right: 10px;
	right: 30px;
	bottom: 30px;
}