* { box-sizing: border-box; }

#wrap {
	max-width: 465px;
	margin: auto;
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
}

body {
	background-image: url('https://i.ytimg.com/vi/gDMPERjCu3Y/maxresdefault.jpg');
}

h1, #field, #button {
	text-align: center;
}

h1 {
	color: white;
	font-style: italic;
}

.box {
	padding: 10px; 
}

input {
	width: 330px;
	height: 50px;
	border-radius: 0 0 10px 10px;
	font-size: 22px;
}

button {
	width: 110px;
	height: 45px;
	border-radius: 10px;
	color: #EF1919;
	font-style: italic;
	font-size: 25px;
}

#field {
	padding-bottom: 10px;
}

#button {
	border-radius: 10px;
	max-width: 80%;
	margin: auto;
}

sup {
	font-size: 8px;
}