p {
	color: white;
	font-size: 22px;
	text-align: justify;
	font-style: italic;
	padding-top: 110px;
}

button {
	width: 600px;
	height: 40px; 
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	opacity: 0.8;
	margin: 5px 0 5px 0;
	transition: all 0.3s linear;
}

button:hover {
	opacity: 0.9;
	transform: scale(1.05);
	cursor: pointer;
}

#continue {
	width: 120px;
	height: 30px;
	margin: 50px 243px auto 243px;
}