img {
	max-width: 300px;
}

img.setCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

h2, h4 {
	text-align: center;
}

p.label {
	text-align: center;
}

p, h3 {
	text-indent: 30px;
	text-align: justify;
}

a:link {
	color: blue;
}

a:active {
	color: red;
}

a:visited {
	color: grey;
}
a:hover {
	color: green;
}